@media (min-width: 500px) {

    .motherForm {
      width: 74%;
      margin: auto;
    }

    .motherForm-input {
      width: 16.5%;
    }
}

@media (min-width: 1000px) {

    .motherForm {
      width: 100%;
    }

    .motherForm-input {
      width: 14%;
    }
}