@media (min-width: 500px) {

    .motherForm {
      width: 22em;
      margin: auto;
    }

    .motherForm-input {
      width: 7.5em;
    }
}

@media (min-width: 1000px) {

    .motherForm {
      width: 30em;
    }

    .motherForm-input {
      width: 11em;
    }
}