
table, th, td {
    border: 1px solid;
}

table {
    margin: 0.5em 0 0.5em 0;
    width: 100%;
}

/* Media queries */
@media (min-width: 1000px) {
    .interpretation-table {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}