
#interpretation-button {
    vertical-align: top;
}

table, th, td {
    border: 1.75px solid;
    border-collapse: collapse;
}

table {
    margin: 0.5em 0 0.5em 0;
    width: 100%;
}

th {
    width: 25%;
}

/* Media queries */
@media (min-width: 1000px) {
    .interpretation-table {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}