.figure-div {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  width: 6em;
  margin-bottom: -115px;
}

.figure-name {
  margin: 1em 0 0 0;

  font-family: antic;
  font-size: 0.6em;
  font-weight: bold;
}

.figure-points {
  margin: 0;

  line-height: 40%;
  font-size: 2em;
  font-weight: 500;
  color: black;
}

#figure-1 {
  position: relative;
  top: -522px;
  left: 0px;
}

#figure-2 {
  position: relative;
  top: -372px;
  left: -150px;
}

#figure-3 {
  position: relative;
  top: -222px;
  left: 0px;
}

#figure-4 {
  position: relative;
  top: -368px;
  left: 149px;
}

#figure-5 {
  position: relative;
  top: -620px;
  left: -151px;
}

#figure-6 {
  position: relative;
  top: -225px;
  left: -241px;
}

#figure-7 {
  position: relative;
  top: -138px;
  left: 150px;
}

#figure-8 {
  position: relative;
  top: -527px;
  left: 237px;
}

#figure-9 {
  position: relative;
  top: -533px;
  left: -242px;
}

#figure-10 {
  position: relative;
  top: -133px;
  left: -151px;
}

#figure-11 {
  position: relative;
  top: -218px;
  left: 237px;
}

#figure-12 {
  position: relative;
  top: -609px;
  left: 150px;
}
