
.themeTemplateContainer {
  width: 100%;
  margin: 0;
}

.themeTemplate {
  position: relative;
  width: 374px;
  margin: auto;
}

.themeTemplate-img {
  width: 374px;

  opacity: 0.5;
}

.figure-div {
  position: absolute;
  margin: 0;
}

.figure-name {
  margin: 1em 0 0 0;
  width: 90px;

  font-family: antic;
  font-size: 0.6em;
  font-weight: bold;

  visibility: hidden;
}

.figure-points {
  margin: 0;

  line-height: 40%;
  font-size: 36px;
  font-weight: 500;
  color: black;
}

#figure-1 {
  top: 13.5%;
  left: 38.5%;
}

#figure-2 {
  top: 37%;
  left: 14%;
}

#figure-3 {
  top: 63%;
  left: 38.5%;
}

#figure-4 {
  top: 37%;
  left: 62%;
}

#figure-5 {
  top: 0%;
  left: 13%;
}

#figure-6 {
  top: 62%;
  left: -2%;
}

#figure-7 {
  top: 77%;
  left: 62%;
}

#figure-8 {
  top: 13.5%;
  left: 78%;
}

#figure-9 {
  top: 13.5%;
  left: -2%;
}

#figure-10 {
  top: 77%;
  left: 13%;
}

#figure-11 {
  top: 62%;
  left: 78%;
}

#figure-12 {
  top: 0%;
  left: 62%;
}


/* Media queries */
@media (min-width: 500px) {

  .themeTemplate {
    width: 500px;
  }

  .themeTemplate-img {
    width: 500px;
  }
  
  .figure-name {
    visibility: visible;
  }
  
  #figure-1 {
    top: 13.5%;
    left: 41%;
  }
  
  #figure-2 {
    top: 40%;
    left: 16.5%;
  }
  
  #figure-3 {
    top: 62%;
    left: 41%;
  }
  
  #figure-4 {
    top: 40%;
    left: 65.5%;
  }
  
  #figure-5 {
    top: 0%;
    left: 16.5%;
  }
  
  #figure-6 {
    top: 62%;
    left: -1%;
  }
  
  #figure-7 {
    top: 77%;
    left: 65.5%;
  }
  
  #figure-8 {
    top: 13.5%;
    left: 82%;
  }
  
  #figure-9 {
    top: 13.5%;
    left: -1%;
  }
  
  #figure-10 {
    top: 77%;
    left: 16.5%;
  }
  
  #figure-11 {
    top: 62%;
    left: 82%;
  }
  
  #figure-12 {
    top: 0%;
    left: 65.5%;
  }
}

@media (min-width: 1000px) {

  .themeTemplate {
    width: 700px;
  }

  .themeTemplate-img {
    width: 700px;
  }

  .figure-points {
    font-size: 50px;
  }
  
  #figure-1 {
    top: 13.5%;
    left: 43.5%;
  }
  
  #figure-2 {
    top: 40%;
    left: 19%;
  }
  
  #figure-3 {
    top: 62%;
    left: 43.5%;
  }
  
  #figure-4 {
    top: 40%;
    left: 68%;
  }
  
  #figure-5 {
    top: 0%;
    left: 19%;
  }
  
  #figure-6 {
    top: 62%;
    left: 2%;
  }
  
  #figure-7 {
    top: 78%;
    left: 68%;
  }
  
  #figure-8 {
    top: 13.5%;
    left: 84%;
  }
  
  #figure-9 {
    top: 13.5%;
    left: 2%;
  }
  
  #figure-10 {
    top: 78%;
    left: 19%;
  }
  
  #figure-11 {
    top: 62%;
    left: 84%;
  }
  
  #figure-12 {
    top: 0%;
    left: 68%;
  }
}